@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Cascadia-Mono';
  src: url('./assets/fonts/CascadiaMono.woff2') format('woff2');
}

@font-face {
  font-family: 'Cascadia-Mono-Italic';
  src: url('./assets/fonts/CascadiaMonoItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'tinos-normal';
  src: url('./assets/fonts/tinos-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'algreya-regular';
  src: url('./assets/fonts/Alegreya-Regular.woff') format('woff');
}

@font-face {
  font-family: 'marta';
  src: url('./assets/fonts/Marta.woff2') format('woff2');
}

@font-face {
  font-family: 'phosphorus-tribromide';
  src: url('./assets/fonts/Phosphorus Tribromide.woff2') format('woff2');
}

@font-face {
  font-family: 'hultog-v2';
  src: url('./assets/fonts/Hultog V2.woff2') format('woff2');
}

@font-face {
  font-family: 'hultog-italic-v2';
  src: url('./assets/fonts/Hultog Italic V2.woff2') format('woff2');
}

/* index.css */

.stage {
  width: 896px;
  height: 1092px;
  fill: #4b5563; /* Neutral-800 color */
}

.map-window {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 796px;
  height: 796px;
  rx: 10; /* Rounded corners */
  fill: #edf2f7; /* Neutral-200 color */
}



.title {
  font-family: marta;
  letter-spacing: 0.8em;
}

.equipment {
  font-family: Cascadia-Mono-Italic;
}

.invisible-button {
  background: transparent;
  border: none;
  color: transparent;
}

.modal-equipment {
  position: relative;
  z-index: 2;
  background: antiquewhite;
  padding: 1rem;
  min-height: 640px;
  min-width: 640px;
}
